<h1>hello {{name}} </h1>
<h1>We sent this Email to confirm that you want to change your password</h1>
<h1>Please use this code below to confirm You want to change password</h1>
<p>
  <a href={{URL}}> click to confirm</a>
</p>
<h1>{{message}}</h1>

<p>If you did not request this email you can safely ignore it.</p>