* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: row;
  gap: 105px;
  background-color: #f7f8fa;
  width: 100%;
  position: absolute;
}

.logo {
  margin-top: 0%;
  margin-bottom: 24%;
}
.profile h2 {
  margin-top: 5%;
}
.profile p {
  font-size: small;
  margin-top: 4%;

  color: #dcdcdc;
}
.left {
  padding: 3%;
  min-height: 100%;
  background-color: #0e1b3e;
  display: flex;
  flex: 15%;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  min-height: 100%;
  position: fixed;
  z-index: 100;
}
.center {
  min-height: 670px;
  margin-left: 25%;
  flex: 40%;
  background-color: white;
  z-index: 0;
}
.left .links {
  margin-top: 15%;
}
.logout {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: 5%;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.left .links h5 {
  font-weight: 500;
  font-size: larger;
  margin-bottom: 20%;
  transition: 0.5s;
}
.left .links h5:hover {
  cursor: pointer;
  color: orange;
}

/* finish left */

/* starthackathon */
.right {
  min-height: 670px;
  flex: 20%;
  background-color: white;
}
.allRight {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search {
  margin-top: 15%;
  padding: 5%;
  width: 70%;
  border: 1px solid var(--hack2Light);
  background-color: var(--hack2Light);
  font-family: "Inter";
  font-style: Medium;
  background-color: #f7f8fa;
  outline: none;
  border: none;
}
.search::placeholder {
  color: var(--nameLight);
}
.allHackathons {
  width: 100%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hac {
  padding: 5%;
  width: 75%;
  background-color: #f7f8fa;
  font-family: "Inter";
  font-style: "Light";
  color: var(--aLight);
  margin-bottom: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: 0.5s;
  filter: drop-shadow(4px 4px 2px #dcdcdc);
}

.namehack {
  font-family: "Inter";
  font-style: "semi bold";
  color: block;
  text-align: center;
}
.hac p {
  margin-top: 2%;
  color: darkgray;
  font-size: small;
}
.hac h5 {
  padding-top: 5px;
  margin-top: auto;
  color: orange;
}
.hac:hover {
  background-color: #f7f8fa;
  cursor: pointer;
  border: 1px solid white;
}

/* end hackathon */

/* strat word */

.topCenter {
  margin: 0 5%;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 0;
}
.word {
  font-weight: 600;
  line-height: 1.5;
}
.word p {
  filter: drop-shadow(2px 2px 1px #dcdcdc);
}
.bom {
  color: orange;
}
.imageCenter {
  filter: drop-shadow(2px 2px 1px #dcdcdc);

  margin-top: -4%;
  margin-right: 5%;
  display: flex;
  flex-direction: row;
  gap: 25%;
}
.imageCenter img {
  cursor: pointer;
}
/* end word */

/* start post */
.allPosts {
  margin-top: 5%;
}
.post {
  border-radius: 21px;
  padding: 5%;
  margin: 5% 5%;
  background-color: #f7f8fa;
}
.post video {
  width: 100%;
  margin-top: 2%;
}
.reactions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2% 5%;
}
.emojis {
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  filter: drop-shadow(4px 4px 2px #dcdcdc);

  width: 50%;
}
.emojis img {
  margin-left: -18px;
}
.commentsPost {
  color: rgb(119, 119, 119);
  filter: drop-shadow(4px 4px 2px #dcdcdc);
}
.userLikes {
  width: 100%;
  margin-left: 5%;
  color: rgb(119, 119, 119);
}
.post hr {
  margin-top: 3%;
  background-color: #dcdcdc;
}
.actions {
  margin-top: 2%;
  margin: 2% 5%;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15%;
  padding: 3%;
  border-radius: 10px;
  transition: 0.5s;

  filter: drop-shadow(4px 4px 2px #dcdcdc);
}
.action:hover {
  cursor: pointer;
  background-color: #dcdcdc;
}
.commentBox {
  margin: 0 7%;
  width: 85%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  filter: drop-shadow(4px 4px 2px #dcdcdc);
  display: none;
  position: relative;
}
.commentBox input {
  width: 100%;
  padding: 2% 5%;
  border-radius: 21px;
  outline: none;
  border: 1px solid #dcdcdc;
  transition: 0.5s;
  padding-right: 20%;
}
.commentBox input:focus {
  border: 1px solid gray;
}
.commentBox img:hover {
  cursor: pointer;
}
.collection {
  display: flex;
  flex-direction: row;
  gap: 15%;
  margin-left: -15%;
  position: relative;
}
.allComments {
  margin-top: 5%;
  display: none;
  position: relative;
}
.comment {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.box {
  margin-right: 5%;
  width: 70%;
  background-color: white;
  padding: 2.5% 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  filter: drop-shadow(4px 4px 2px #dcdcdc);
  z-index: 100;
}
.settingsAndDate {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.settings {
  display: flex;
  flex-direction: row;
  gap: 7%;
}
.settings span:hover {
  cursor: pointer;
  text-decoration: underline;
}
.comment span {
  font-size: small;
  color: gray;
}
.comment p {
  font-size: small;
}
.p1 {
  color: gray;
  margin-bottom: 5%;
}
.replay {
  position: relative;
}
.replay .box {
  width: 60%;
}
.replay img {
  margin-left: 10%;
  filter: drop-shadow(4px 4px 2px #dcdcdc);
}
.arrow {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: gray;
}
.arrow:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* showmore */

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  margin-top: 5%;
}
button.learn-more {
  width: 12rem;
  height: auto;
}
button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #0e1b3e;
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}

@supports (display: grid) {
  body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.625rem;
    grid-template-areas: ". main main ." ". main main .";
  }

  #showmore {
    grid-area: main;
    align-self: center;
    justify-self: center;
    display: none;
  }
}

/*end showmore */

.info h5 {
  font-size: 14px;
  color: #111111;
}
.commentActions {
  width: 70%;
  margin-left: 15%;
}
.feeds {
  margin-top: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  position: relative;
}
.emojiClick,
.replayClick {
  padding-top: 6%;
  background-color: white;
  width: 10%;
  margin-left: 20%;
  margin-top: -5%;
  padding-bottom: 4%;
  border-radius: 21px;
  z-index: 1;
  transition: 0.5s;
  filter: drop-shadow(4px 4px 2px #dcdcdc);
  transition: 0.5s;
}
.emojiClick:hover {
  cursor: pointer;
  background-color: #dcdcdc;
  transform: rotateY(360deg);
  background-color: #f7f8fa;
}
.replayClick:hover {
  cursor: pointer;
  transform: rotateY(360deg);
  background-color: #f7f8fa;
}
.emojiClick img:hover {
  cursor: pointer;
  background-color: #dcdcdc;
  transform: rotateY(360deg);
  background-color: #f7f8fa;
}
.replayClick img:hover {
  cursor: pointer;
  transform: rotateY(360deg);
  background-color: #f7f8fa;
}
.emojiClick img,
.replayClick img {
  margin-bottom: -15%;
}
.numberOfLikes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  filter: drop-shadow(4px 4px 2px #dcdcdc);
}
.em {
  position: relative;
}
.commentBoxComment {
  margin-top: 5%;
  width: 75%;
  margin-left: 15%;
  position: relative;
}
.feedsReplay {
  margin-left: 15%;
}
.commentBoxReplay {
  margin-top: 5%;
  width: 65%;
  margin-left: 25%;
}
.commentBoxReplay .collection {
  margin-left: -18%;
}

/* end post */

/* end Reactions */
/* .fg-emoji-container {
  width: 270px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.62);
  background-color: white;
  overflow: hidden;
  z-index: 9999;
}

.fg-emoji-container svg {
  max-width: 100%;
  box-sizing: border-box;
  width: 15px;
  height: 15px;
}

.fg-emoji-picker-category-title {
  display: block;
  margin: 20px 0 0 0;
  padding: 0 10px 5px 10px;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  flex: 0 0 calc(100% - 20px);
  border-bottom: 1px solid #ededed;
}

.fg-emoji-nav {
  background-color: #646772;
}

.fg-emoji-nav li a svg {
  transition: all 0.2s ease;
  fill: white;
}

.fg-emoji-nav li:hover a svg {
  fill: black;
}

.fg-emoji-nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #dbdbdb;
}

.fg-emoji-nav ul li {
  flex: 1;
}

.fg-emoji-nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  transition: all 0.2s ease;
}

.fg-emoji-nav ul li a:hover {
  background-color: #e9ebf1;
}

.fg-emoji-nav ul li.active a {
  background-color: #e9ebf1;
}

.fg-emoji-nav ul li.emoji-picker-nav-active a {
  background-color: #e9ebf1;
}

.fg-emoji-nav ul li.emoji-picker-nav-active a svg {
  fill: #646772;
}

.fg-emoji-picker-move {
  /* pointer-events: none; 
  cursor: move;
}

.fg-picker-special-buttons a {
  background-color: "#ed5e28";
}

.fg-picker-special-buttons:last-child a {
  box-shadow: inset 1px 0px 0px 0 rgba(0, 0, 0, 0.11);
}

.fg-emoji-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 323px;
}

.fg-emoji-picker-category-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.fg-emoji-list li {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex: 0 0 calc(100% / 6);
  height: 50px;
}

.fg-emoji-list li a {
  position: absolute;
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  background-color: #ffffff;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.fg-emoji-list li a:hover {
  background-color: #ebebeb;
}

.fg-emoji-picker-search {
  position: relative;
}

.fg-emoji-picker-search input {
  border: none;
  box-shadow: 0 0 0 0;
  outline: none;
  width: calc(100% - 30px);
  display: block;
  padding: 10px 15px;
  background-color: #f3f3f3;
}

.fg-emoji-picker-search .fg-emoji-picker-search-icon {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}*/
.ff {
  display: none;
}
.drops {
  background-color: #dcdcdc;
  z-index: 10000;
  margin: 0;
  height: 100%;
  width: 15%;
  position: absolute;
  left: 17%;
  display: flex;
  flex-direction: column;
  text-align: center;
  left: 0;
  filter: drop-shadow(4px 4px 2px #dcdcdc);

  z-index: -1;

  transition: 0.5s;
}
.drops a {
  margin-top: 15%;
  font-size: medium;
  text-decoration: none;
  color: #111111;
  filter: drop-shadow(4px 4px 2px white);
}
.kill {
  margin-top: 15px;
  filter: drop-shadow(4px 4px 2px #dcdcdc);
}
.center2 {
  margin-left: 35%;
  transition: 0.5s;
}
.hidden {
  left: 17%;
  z-index: 100;
}
