:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --sections-color: #ececec;
  --transition-duration: 0.3s;
  --section-padding: 100px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
  width: 100%;
}
body {
  font-family: "Cairo", sans-serif;
  background-color: #f7f8fa;
  width: 100%;
  height: 100%;
}
body::-webkit-scrollbar {
  width: 1em;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
/* Start Header */
header {
  background-color: white;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
  position: relative;
}
header .containe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
}
header .logo {
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
@media (max-width: 767px) {
  header .logo {
    width: 100%;
    height: 50px;
  }
}
header .main-nav {
  display: flex;
  margin-right: 5%;
}
@media (max-width: 767px) {
  header .main-nav {
    margin: auto;
  }
}
header .main-nav li:hover .mega-menu {
  z-index: 99;
  opacity: 1;
  top: calc(100% + 1px);
}
header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  position: relative;
  color: black;
  padding: 0 15px;
  overflow-x: hidden;
  transition: var(--transition-duration);
}
@media (max-width: 767px) {
  header .main-nav > li > a {
    padding: 10px;
    font-size: 14px;
    height: 40px;
  }
}
n header .main-nav > li > a:hover:before {
  left: 0;
}
header .mega-menu {
  position: absolute;
  width: 100%;
  left: 0;
  top: calc(100% + 50px);
  padding: 30px;
  background-color: white;
  border-bottom: 3px solid var(--main-color);
  display: flex;
  z-index: -1;
  opacity: 0;
  gap: 40px;
  transition: top var(--transition-duration), opacity var(--transition-duration);
}
.log {
  height: 100%;
  margin-top: 3%;
  padding: 10px 15px;
  color: white;
  width: fit-content;
}
.log2 {
  background-color: var(--main-color);
  margin-right: 5px;
}
.log2:hover {
  background-color: var(--main-color-alt);
}
.log3:hover {
  opacity: 0.5;
}
.log3 {
  color: var(--main-color);
  padding: 9px 14px;
  transition: top var(--transition-duration), opacity var(--transition-duration);

  border: 1px solid var(--main-color);
  margin-right: 0;
}
@media (max-width: 767px) {
  header .mega-menu {
    flex-direction: column;
    gap: 0;
  }
}
header .mega-menu .image img {
  max-width: 100%;
}
@media (max-width: 991px) {
  header .mega-menu .image {
    display: none;
  }
}
header .mega-menu .links {
  min-width: 250px;
  flex: 1;
}
header .mega-menu .links li {
  position: relative;
}
header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}
@media (max-width: 767px) {
  header .mega-menu .links:first-of-type li:last-of-type {
    border-bottom: 1px solid #e9e6e6;
  }
}
header .mega-menu .links li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: var(--transition-duration);
  background-color: #fafafa;
}
header .mega-menu .links li:hover::before {
  width: 100%;
}
header .mega-menu .links li a {
  color: var(--main-color);
  display: block;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
}
header .mega-menu .links li a i {
  margin-right: 10px;
}
/* End Header */
.no-js #loader {
  display: none;
}
.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(https://smallenvelop.com/wp-content/uploads/2014/08/Preloader_11.gif)
    center no-repeat #fff;
}
.friends {
  background-color: white;
  height: 400px;
  width: 25%;
  margin-top: 1%;
  border-radius: 5px;
  box-shadow: 0 0 10px #ececec;
}
.landing {
  margin-top: 1px;
}
.container {
  display: flex;
  flex-direction: row;
  background-color: #f7f8fa;
  width: 100%;
  gap: 2%;
}
.brr {
  border: 1px solid #f7f7f7;
  width: 90%;
}
.upImages3 {
  margin-left: 0;
}
.profile h2 {
  margin-top: 5%;
}
.profile p {
  font-size: small;
  margin-top: 4%;

  color: #dcdcdc;
}
.left {
  padding: 1%;
  min-height: 100%;
  background-color: white;
  display: flex;
  width: 20%;
  flex-direction: column;
  color: #111111;
  min-height: 100%;
  z-index: 100;
}
.left .user {
  width: 100%;
  margin-left: 0;
  background-color: #f7f8fa;
}
.center {
  min-height: 670px;
  width: 50%;
  z-index: 0;
  margin-top: 0;
}
.left .links {
  margin-top: 0%;
  width: 100%;
}
.logout {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: 5%;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.left .links h5 {
  font-weight: 500;
  font-size: large;
  transition: 0.5s;
  width: 112%;
  margin-left: 0;
  padding: 10px 10px;
  margin: 5%;
  margin-left: -6%;
  position: relative;
  transition: 0.5s;
}
#link::before {
  background-color: var(--main-color);
}
.left .links h5:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px #dbeaf7;
  color: var(--main-color);
}
.left .links h5 i {
  color: #dcdcdc;
}
#link2:hover > #link22 {
  color: var(--main-color);
}
.left .links h5::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 1.5%;
  height: 60%;
  background-color: transparent;
  transition: 0.5s;
  transition: var(--transition-duration);
}
.left .links h5:hover::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 1.5%;
  height: 60%;
  background-color: var(--main-color);
  transition: var(--transition-duration);
}
/* finish left */

/* starthackathon */
.right {
  min-height: 670px;
  width: 20%;
  background-color: white;
}
.allRight {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search {
  padding: 13px 12px;
  width: 38%;
  border-radius: 5px;
  border: 1px solid var(--hack2Light);
  background-color: var(--hack2Light);
  font-style: Medium;
  background-color: #f7f8fa;
  outline: none;
  border: none;
  color: #777777;
  margin-left: -17%;
}
.search::placeholder {
  color: var(--nameLight);
}
.allHackathons {
  width: 100%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.image-upload > input {
  display: none;
}

.images {
  display: none;
  width: 87%;
  background-color: #f0f0f0;
  position: relative;
  margin-left: 7.3%;
  margin-top: -2%;
  padding-top: 2%;
  padding-left: 2%;
  z-index: 1;
  border: 1px solid #dcdcdc;
}
.hac {
  padding: 5%;
  width: 75%;
  background-color: #f7f8fa;
  font-family: "Inter";
  font-style: "Light";
  color: var(--aLight);
  margin-bottom: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: 0.5s;
  filter: drop-shadow(4px 4px 2px #dcdcdc);
  z-index: -10;
}

.namehack {
  font-family: "Inter";
  font-style: "semi bold";
  color: block;
  text-align: center;
}
.hac p {
  margin-top: 2%;
  color: darkgray;
  font-size: small;
}
.hac h5 {
  padding-top: 5px;
  margin-top: auto;
  color: orange;
}
.hac:hover {
  background-color: #f7f8fa;
  cursor: pointer;
  border: 1px solid white;
}
.boxHack {
  width: 90%;
  box-shadow: 0 0 10px #ddd;
}
.boxHack h4 {
  color: var(--main-color);
  font-weight: bolder;
  margin-top: 4%;
  margin-bottom: 0;
}
.boxHack p {
  font-weight: 900;
  color: #111111;
}
.boxHack .contt {
  margin-left: 5%;
}
/* end hackathon */

/* strat word */

.topCenter {
  margin: 0 5%;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 0;
}
.word {
  font-weight: 600;
  line-height: 1.5;
}

.bom {
  color: var(--main-color);
}
.imageCenter {
  margin-top: -4%;
  margin-right: 5%;
  display: flex;
  flex-direction: row;
  gap: 25%;
}
.imageCenter img {
  cursor: pointer;
}
/* end word */

/* start post */
.allPosts {
  margin-top: 1%;
}
.post {
  border-radius: 21px;
  padding: 5%;
  margin: 5% 5%;
  background-color: white;
  box-shadow: 0 0 10px #ddd;
}
.post video {
  width: 112%;
  margin-left: -6%;
  margin-top: 2%;
}
.post .image {
  width: 112%;
  margin-left: -6%;
  margin-top: 2%;
}
.reactions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2% 5%;
}
.emojis {
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;

  width: 50%;
}
.emojis img {
  margin-left: -18px;
}
.commentsPost {
  color: rgb(119, 119, 119);
}
.userLikes {
  width: 100%;
  margin-left: 5%;
  color: rgb(119, 119, 119);
}
.post hr {
  margin-top: 3%;
  background-color: #dcdcdc;
}
.actions {
  margin-top: 2%;
  margin: 2% 5%;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15%;
  padding: 3%;
  border-radius: 10px;
  transition: 0.5s;
}
.action:hover {
  cursor: pointer;
  background-color: #dcdcdc;
}
.commentBox {
  margin: 0 7%;
  width: 85%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  display: none;
  position: relative;
  z-index: 1000;
}
.commentBox input {
  width: 105%;
  padding: 2% 5%;
  border-radius: 21px;
  outline: none;
  border: 1px solid #dcdcdc;
  transition: 0.5s;
  padding-right: 20%;
}
.commentBox input:focus {
  border: 1px solid gray;
}
.commentBox img:hover {
  cursor: pointer;
}
.collection {
  display: flex;
  flex-direction: row;
  gap: 15%;
  margin-left: -200px;
  position: relative;
}
.allComments {
  margin-top: 5%;
  display: none;
  position: relative;
}
.comment {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.comment .box {
  margin-right: 5%;
  width: 80%;
  background-color: #f7f8fa;
  padding: 2.5% 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  filter: drop-shadow(4px 4px 2px #dcdcdc);
  z-index: 100;
}
.allRight .dates-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 5%;
}
.allRight .dates-container .date {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #e4e4e4;
  padding: 5px 3.25px;
  border-radius: 6px;
  transition: var(--transition-duration);
}
.seeAll {
  background-color: #f7f8fa;
  color: var(--main-color);
  text-align: center;
  width: 90%;
  padding: 10px 0px;
  margin-top: 2%;
  z-index: -1;
  box-shadow: 0 0 10px #ddd;
  transition: 0.5s;
}
@media (max-width: 350px) {
  .allRight .dates-container .date {
    flex-basis: 49%;
  }
}
.allRight .dates-container .date:hover {
  border-color: var(--main-color);
}
.allRight .dates-container .date::before {
  content: "";
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 1px;
  background-color: #e4e4e4;
  transition: var(--transition-duration);
}
.allRight .dates-container .date:hover::before {
  background-color: var(--main-color);
}
.allRight .dates-container .date span:first-child {
  color: var(--main-color);
  font-weight: bold;
  font-size: 15px;
}
.allRight .dates-container .date span:last-child {
  margin-bottom: 10px;
  font-size: 6.5px;
  display: block;
  transform: translateY(10px);
}
.settingsAndDate {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.settings {
  display: flex;
  flex-direction: row;
  gap: 7%;
}
.settings span:hover {
  cursor: pointer;
  text-decoration: underline;
}
.comment span {
  font-size: small;
  color: gray;
}
.comment p {
  font-size: small;
}
.p1 {
  margin-top: -20px;
  color: gray;
}
.comment .box h5 {
  margin-top: 0;
}
.replay {
  position: relative;
}
.replay .box {
  width: 70%;
}
.replay img {
  filter: drop-shadow(4px 4px 2px #dcdcdc);
}
.operr {
  margin-left: 10%;
  border-radius: 31px;
}
.arrow {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: gray;
}
.arrow:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* showmore */

.button-text {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  margin-top: 5%;
}
.button-text.learn-more {
  width: 12rem;
  height: auto;
}
.button-text.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #0e1b3e;
  border-radius: 1.625rem;
}
.button-text.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
.button-text.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
.button-text.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
.button-text.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
.button-text:hover .circle {
  width: 100%;
}
.button-text:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
.button-text:hover .button-text {
  color: #fff;
}

/*end showmore */

.info h5 {
  font-size: 14px;
  color: #111111;
  background-color: #f7f8fa;
}
.commentActions {
  width: 70%;
  margin-left: 15%;
}
.feeds {
  margin-top: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  position: relative;
}
.emojiClick,
.replayClick {
  padding-top: 6%;
  background-color: #f7f8fa;
  width: 10%;
  margin-left: 20%;
  margin-top: -5%;
  padding-bottom: 4%;
  border-radius: 21px;
  z-index: 1;
  transition: 0.5s;
  filter: drop-shadow(4px 4px 2px #dcdcdc);
  transition: 0.5s;
}
.emojiClick:hover {
  cursor: pointer;
  background-color: #dcdcdc;
  transform: rotateY(360deg);
  background-color: #f7f8fa;
}
.replayClick:hover {
  cursor: pointer;
  transform: rotateY(360deg);
  background-color: #f7f8fa;
}
.emojiClick img:hover {
  cursor: pointer;
  background-color: #dcdcdc;
  transform: rotateY(360deg);
  background-color: #f7f8fa;
}
.replayClick img:hover {
  cursor: pointer;
  transform: rotateY(360deg);
  background-color: #f7f8fa;
}
.emojiClick img,
.replayClick img {
  margin-bottom: -15%;
}
.numberOfLikes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}
.em {
  position: relative;
}
.commentBoxComment {
  margin-top: 5%;
  width: 80%;
  margin-left: 15%;
  position: relative;
}
.feedsReplay {
  margin-left: 15%;
}
.commentBoxReplay {
  margin-top: 5%;
  width: 65%;
  margin-left: 25%;
}
.commentBoxReplay .collection {
  margin-left: -35%;
}

/* end post */

.ff {
  display: none;
}
.drops {
  background-color: #dcdcdc;
  z-index: 10000;
  margin: 0;
  height: 100%;
  width: 15%;
  position: absolute;
  left: 17%;
  display: flex;
  flex-direction: column;
  text-align: center;
  left: 0;
  filter: drop-shadow(4px 4px 2px #dcdcdc);

  z-index: -1;

  transition: 0.5s;
}
.drops a {
  margin-top: 15%;
  font-size: medium;
  text-decoration: none;
  color: #111111;
  filter: drop-shadow(4px 4px 2px white);
}
.kill {
  margin-top: 15px;
  filter: drop-shadow(4px 4px 2px #dcdcdc);
}
.center2 {
  margin-left: 35%;
  transition: 0.5s;
}
.hidden {
  left: 17%;
  z-index: 100;
}
.imgUploaded {
  width: 200px;
  height: 100px;
  padding: 2%;
  border-radius: 21px;
}
.closed {
  width: 15px;
  height: 15px;
  margin-bottom: 90px;
  margin-left: -8%;
  cursor: pointer;
  filter: drop-shadow(10px 10px 10px 10px #ff0000);
  z-index: 10000000;
}
.upImages2 {
  margin-top: 5%;
}
.closed2 {
  width: 20px;
  height: 20px;
  cursor: pointer;
  filter: drop-shadow(10px 10px 10px 10px #ff0000);
  position: absolute;
  right: 1%;
  top: 1%;
}
.images2 {
  width: 75%;
  margin-left: 15.5%;
}
.images3 {
  width: 65%;
  margin-left: 25.5%;
}
.edit {
  width: 180%;
  border: none;
  outline: none;
}
.commentEdit {
  margin-top: -8%;
  width: 76%;
  margin-left: 15%;
}
.replayEdit {
  width: 71%;
  margin-left: 22%;
}
.hide {
  display: none;
}
.esc {
  margin-top: 1%;
  margin-left: 28%;
  font-size: small;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 100000;
  position: fixed;
  opacity: 0.8;
}
.confirmDelete {
  position: fixed;
  background-color: #f7f8fa;
  z-index: 100000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  display: flex;
  flex-direction: column;
}

.confirmDelete .texts {
  padding: 4%;
}
.confirmDelete .texts h5 {
  font-size: large;
  color: #111111;
  margin-bottom: 2.5%;
}

.confirmDelete .texts p {
  font-size: large;
  color: #111111;

  margin-right: auto;
}
.buttons {
  margin-left: 18%;
  margin-bottom: 5%;
}
.buttons button {
  padding: 2% 5%;
  cursor: pointer;
}
.bty1 {
  background-color: orange;
  color: white;
  border: none;
  outline: none;
}
.bty1:hover {
  background-color: rgb(255, 187, 0);
}

.full {
  width: 90%;
  max-height: 90%;
  border-radius: 18px;
}
.upImages {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 18px;
}
.copy {
  padding: 1.5% 5%;
  padding-right: 1.5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  bottom: 5%;
  left: 5%;
  z-index: 1000;
  border-radius: 15px;
  filter: drop-shadow(4px 4px 2px #dcdcdc);
  transition: 0.5s;

  background-color: white;
}
.hide2 {
  left: -50%;
  transition: 0.5s;
}
.copy a {
  text-decoration: none;
  width: fit-content;
  color: var(--main-color);
  font-weight: 500;
  font-family: "roboto";
}
.copy p {
  margin-left: 0%;
}
.copy a:hover {
  text-decoration: underline;
}
.copy .in1 {
  margin-left: -15%;
}
.copy .in2 {
  margin-left: auto;
  cursor: pointer;
}

/*
404*/
/*
emoji*/
.fg-emoji-container {
  width: 250px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.62);
  background-color: white;
  overflow: hidden;
  z-index: 1000000;
  position: absolute;
  top: -7%;
  right: -35%;
}

.fg-emoji-container svg {
  max-width: 100%;
  box-sizing: border-box;
  width: 15px;
  height: 15px;
}

.fg-emoji-picker-category-title {
  display: block;
  margin: 20px 0 0 0;
  padding: 0 10px 5px 10px;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  flex: 0 0 calc(100% - 20px);
  border-bottom: 1px solid #ededed;
}

.fg-emoji-nav {
  background-color: #646772;
}

.fg-emoji-nav li p svg {
  transition: all 0.2s ease;
  fill: white;
}

.fg-emoji-nav li:hover p svg {
  fill: black;
}

.fg-emoji-nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #dbdbdb;
}

.fg-emoji-nav ul li {
  flex: 1;
}

.fg-emoji-nav ul li p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.fg-emoji-nav ul li p:hover {
  background-color: #e9ebf1;
}

.fg-emoji-nav ul li.active p {
  background-color: #e9ebf1;
}

.fg-emoji-nav ul li.emoji-picker-nav-active p {
  background-color: #e9ebf1;
}

.fg-emoji-nav ul li.emoji-picker-nav-active p svg {
  fill: #646772;
}

.fg-emoji-picker-move {
  /* pointer-events: none; */
  cursor: move;
}

.fg-picker-special-buttons p {
  background-color: "#ed5e28";
}

.fg-picker-special-buttons:last-child p {
  box-shadow: inset 1px 0px 0px 0 rgba(0, 0, 0, 0.11);
}

.fg-emoji-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 323px;
}

.fg-emoji-picker-category-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.fg-emoji-list li {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex: 0 0 calc(100% / 6);
  height: 50px;
}

.fg-emoji-list p {
  position: absolute;
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  background-color: #ffffff;
  border-radius: 3px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.fg-emoji-list li p:hover {
  background-color: #ebebeb;
}

.fg-emoji-picker-search {
  position: relative;
}

.fg-emoji-picker-search input {
  border: none;
  box-shadow: 0 0 0 0;
  outline: none;
  width: calc(100% - 30px);
  display: block;
  padding: 10px 15px;
  background-color: #f3f3f3;
}

.fg-emoji-picker-search .fg-emoji-picker-search-icon {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* startFriends */
.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  width: 90%;
  margin-left: 8%;
  cursor: pointer;
  transition: 0.5s;
}
.friends .user:hover {
  box-shadow: 0 0 10px #ddd;
  width: 100%;
  margin-left: 0;
}
.post .user {
  margin-left: 0;
}
.post .user:hover {
  cursor: auto;
}
.allUsers {
  display: flex;
  flex-direction: column;
}
.friends .seeAll {
  width: 100%;
  z-index: 100;
}
.seeAll:hover {
  background-color: #eff0f1;
}
/* endFriends */
