* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  background-color: #f7f8fa;
}
.allExam {
  width: 100%;
  height: 100%;
}
.control {
  position: fixed;
  overflow: scroll;
  overflow-x: hidden;
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hrr {
  border: 1px solid #dcdcdc;
  width: 70%;
  margin-top: -3%;
  margin-right: 50%;
}
.define {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  height: auto;
  margin-left: 15%;
  margin-top: 5%;

  /* 
 text-align: left;
  top: 5%;
  left: 10%;
  line-height: 1%;*/
}
.quizn {
  font-family: "Inter", sans-serif;
  color: #fcb500;
  font-size: small;
}

.namedy {
  font-family: "Inter", sans-serif;
  font-size: medium;
  width: 100%;
  margin-top: -10%;
}
.time {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.time-quiz {
  text-align: center;
  width: 100%;
  font-family: "Poppins";
  font-size: 22px;
  margin-right: 15%;
  margin-top: 5%;
}
.progress {
  width: 100%;
  background: #BCBCBC;
  margin-bottom: 50px;
  position: relative;
  border-radius: 25px;
  margin-right: 15%;
}
.progress-inner {
  background-color: #fcb500;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}
.boxQuestion {
  width: 80%;
  padding: 25px;
  border-radius: 5px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  margin-right: 10%;
}
.noquest {
  font-family: "Poppins";
  font-size: 20px;
  line-height: 65px;
  width: calc(100% / 3 -15);
  padding: 15px 15px 15px 15px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-left: 15px;
}
.sub {
  position: absolute;
  left: 45%;
  display: block;
  margin: auto;
  width: 35%;
  top: 120%;
  height: 16%;
  outline: none;
  color: #ffffff;
  border-radius: 10px;
  border: 10px solid #fcb500;
  background-color: #fcb500;
  font-size: large;
}
.quiz-app {
  position: absolute;
  width: 77%;
  height: 100%;
  right: 0%;
  background-color: #f8f8f8;
  padding: 15px;
}
.quiz-app2 {
  position: absolute;
  width: 77%;
  height: 100%;
  right: 0%;
  top: 100%;
  background-color: #f8f8f8;
  padding: 15px;
}
.count {
  font-family: "Inter", sans-serif;
  color: #bcbcbc;
  margin-top: 2%;
  margin-left: 5%;
}
.answer {
  width: 77%;
  line-height: 25px;
  margin-top: 5%;
  margin-left: 5%;
  background-color: #ffffff;
  border-radius: 5px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.wordanswer {
  padding: 10px;
  width: 80%;
  font-family: "Inter", sans-serif;
  font-size: medium;
}

input[type="radio"] {
  appearance: none;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-top: -25px;
  border: 2px solid #bcbcbc;
  background-color: #bcbcbc;
  border-radius: 50%;
  background-clip: content-box;
  padding: 3px;
}

input[type="radio"]:checked {
  border: 2px solid #fcb500;
  background-color: #fcb500;
}
.ll {
  margin-top: 50px;
}
