:root {
    --main-color :#FCB500;
}

* {
    font-family: "poppins" , sans-serif;
    box-sizing: border-box;
    background-color: #f7f8fa;
    width: 600px;
   
}

.job {
    position: absolute;
    top: 50px;
    left: 50px;
    font-weight: bold;
    width: 0;
    height: 0;
}

.add{
   position: relative;
   top: 75px;
   left: 400px;
}

span {
    color: var(--main-color);
}

.work {
    width: 100px;
    height: 35px;
    color: white;
    background-color: var(--main-color);
    position: relative;
    top: 100px;
    left: 320px;
    line-height: 35px;
    text-align: center;
    border-radius: 35px;
    margin-bottom: 20px;
    display: inline-block;
}

.work:hover{
    cursor: pointer;
}

input {
    height: 50px;
    width: 160px;
    outline: none;
    color: #fafafa;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background:     #090846;
    position: relative;
    left: 200px;
    top: 300px;
    transition: 0.5s;
    cursor: pointer;
  }

