body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: interFont;
    background-color: #F7F8FA;
  }

 aside{
    width: 15%;
    height: 2000px;
    background-color: #090846;
    display: flex;
    float: left;
 }

 .container{
    background-color: #F7F8FA;
    width: 85%;
    float: right;
 }

 .video-container{
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
 }

 .video-player{
    width: 100%;
    height: auto;
 }



 /* ====== description container ========*/
 .txt_container{
    background-color: white;
    padding: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 24px;
 }

 .txt_container h2{
    color: #DCDCDC;
 }

 .txt_container p{
    color:#646262;
 }

  /* ====== reviews container ========*/
  .reviews_container{
    padding: 20px;
    margin-right: 20px;
    height: 300px;
 }

  .totals-div{
    width: 30%;
    float: left;
    text-align: center;
  }

  .details-review-div{
    width: 70%;
    float: right;
  }


 .heading{
    color: #DCDCDC;
  }
  .rate{
    color: black;
    font-size: 90px;
    display: inline;
    padding-top: 0px;
  }
  .fa {
    font-size: 25px;
  }
  .checked {
    color: #FFE144;
  }
  .out_of_5{
    color: #676767;
    opacity: 0.4;
  }

  /* right div ------------------------------ */
  .details-review-title{
    font-size: 20px;
    margin-top: 30px;
    font-family: interFont;
    color: #545454;
  }

  .reviews_count{
    color: #FCB500;
  }


  /* ********* */
/* Three column layout */
.side {
    float: left;
    width: 15%;
    margin-top:10px;
  }
  
  .middle {
    margin-top:10px;
    float: left;
    width: 70%;
  }
  
  /* Place text to the right */
  .right {
    text-align: right;
    color:#ADADAD;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The bar container */
  .bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
  }
  
  /* Individual bars */
  .bar-5 {width: 60%; height: 18px; background-color: #FCB500;}
  .bar-4 {width: 30%; height: 18px; background-color: #FCB500;}
  .bar-3 {width: 10%; height: 18px; background-color: #FCB500;}
  .bar-2 {width: 4%; height: 18px; background-color: #FCB500;}
  .bar-1 {width: 15%; height: 18px; background-color: #FCB500;}

  /* =========================================== */
 /* ============ reviews & comments ================== */
 .comment_container{
  /* background-color: #FCB500; */
  margin-top: 20px;
}

.profile-section{
  width: 30%;
  text-align: center;
  float: left;
}

.comment-section{
  width: 70%;
  padding: 20px;
  background-color: #F1E2FF38;
  border-radius: 10px;
  margin-left: auto;

}




 .profile-img{
  width:90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.profile-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.comment-author{
  font-size: 16px;
}

/*----- comment section -----*/
.comment_title{
  display: inline;
  font-family:poppins ;
  color: #263238;
}

.comment_date{
  display: inline;
  color: #676767;
  float: right;
  font-family:poppins ;
  margin-top: 0px;
  right: 0px;
  font-size: 16px;
}

.comment_txt{
  color: #676767;
  font-family:poppins ;
}

.last-container{
  margin-bottom: 50px;
}


  


.load-more-div{
  margin-top: 20px;  
  padding-bottom: 20px;
}

.load-more-btn{
  float: right;
}
  









   /* =========================================== */

  /* ====== fonts ========*/
  @font-face {
    font-family: interFont;
    src: url(fonts/Inter-Regular.ttf);
  }

  @font-face {
    font-family: poppins;
    src: url(fonts/Poppins-Regular.ttf);
  }