html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "inter";
}

.practice {
  position: fixed;
  height: 100%;
  width: 21%;
  background: #0e1b3e;
}
.logo {
  position: absolute;
  top: 0%;
  left: 35%;
}
.bb {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bb a {
  transition: 0.3s;
}
.bb a:hover {
  color: orange;
}
.bb img {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: -2px;
}
.jj {
  margin-bottom: 13px;
}

.all_practice {
  display: inline-block;
  color: white;
  font-size: 16px;
  text-decoration-line: none;
}

.op {
  font-size: 25px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.image1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 60px;
  border-radius: 50%;
}
.image1:hover {
  cursor: pointer;
  opacity: 0.5;
}

.practice button {
  position: absolute;
  top: 80%;
  left: 50%;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 35px;
  background-color: #0e1b3e;
  border: 1px solid white;
  outline: none;
  transition: 0.3s;
}
.practice button:hover {
  background-color: white;
  cursor: pointer;
}
.practice button:hover .textbutton {
  color: #0e1b3e;
}
.textbutton {
  position: absolute;
  left: 25%;
  top: -20%;
  color: white;
}
