<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Main css-->
    <link rel="stylesheet" href="/css/assignment.css" />
    <!--Normalize css-->
    <link rel="stylesheet" href="/css/normalize.css" />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Inter"
      rel="stylesheet"
    />
    <title>Assignments</title>
  </head>

  <body>
    <!--The left part of the page -->
    <div class="practice" id="practice">
      <div class="logo">
        <h1>
          <span style="color: #ffffff">JOB</span
          ><span style="color: #fcb500">Q</span>
        </h1>
      </div>
      <div class="bb">
        <div class="dropdown">
          <a
            class="all_practice dropbtn"
            href="https://sleepy-bastion-99766.herokuapp.com/"
          >
            Home page
          </a>
          <div class="dropdown-content">
            <a href="http://127.0.0.1/courses">Courses</a>
            <a href="http://127.0.0.1/Standing">Standing</a>
            <a href="http://127.0.0.1/hackathons">Hackthons</a>
          </div>
        </div>
        <div class="div2">
          <a
            class="all_practice"
            href="https://sleepy-bastion-99766.herokuapp.com/Tracks/9b0ba3a1-3fc0-11ed-93a3-0a33a65a227b"
            >My track</a
          >
          <a
            class="all_practice"
            href="https://sleepy-bastion-99766.herokuapp.com/Tracks/2e0cd456-33de-11ed-a1c3-0a33a65a227b/Assignments"
          >
            <span style="color: orange">Assignments</span></a
          >
          <a class="all_practice" href=""> Final Project </a>
        </div>
      </div>
      <img src="/images/giphy.gif" alt="gif" class="gif" />
    </div>
    <div class="center">
      <div class="top">
        <h1 class="sp">Assignment</h1>
        <h1 class="sp2">Frontend Development</h1>
        <hr class="hr" />
      </div>
      <div class="lists">
        <div class="list" id="todo"><p class="name">TO DO</p></div>
        <div class="list" id="pending"><p class="name">PENDING</p></div>
        <div class="list" id="done"><p class="name">DONE</p></div>
      </div>
    </div>
    <div id="op" class="drop">
      <div class="form-popup" id="myform">
        <img src="/images/close.png" alt="logo" id="close" />
        <div class="namee"></div>

        <div class="details"></div>
        <div id="error" class="error"></div>
        <div id="ok" class="error"></div>
        <div class="solution" id="sol">
          <div class="in">
            <input
              type="text"
              name="solution"
              id="solution"
              placeholder="put your solution here..."
            />
          </div>
          <div class="last">
            <button type="submit" class="sub">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <script src="/assignment.js"></script>
  </body>
</html>
