<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/forget.css" />
  </head>
  <body>
    <div class="box">
      <div class="inner-box">
        <form id="recover">
          <div id="test">
            <h3 class="pp">Change your password</h3>

            <input
              class="pow"
              type="password"
              name="password"
              placeholder="Type your Password"
              required
            />
            <input
              class="pow"
              type="password"
              name="conpassword"
              placeholder="Confirm Password"
              required
            />
          </div>
          <button class="pow">change</button>
        </form>
      </div>
    </div>
    <script src="/change.js"></script>
  </body>
</html>
