<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Main css-->
    <link rel="stylesheet" href="/css/dashboard.css" />
    <!--Normalize css-->
    <link rel="stylesheet" href="/css/normalize.css" />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Inter"
      rel="stylesheet"
    />
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--css emojionearea -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.css" />
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/87f7416207.js" crossorigin="anonymous"></script>
    
    <title>homePage</title>
  </head>

  <body>
    <!--The left part of the page -->
    <div class="container">
    <div class="practice" id="practice">
      <div class="logo">
        <h1>
          <span style="color: #ffffff">JOB</span
          ><span class="io">Q</span>
        </h1>
      </div>
      <div class="bb">
         <div class="home">
          <a class="all_practice dropbtn" href="http://127.0.0.1:3000/">
            <span class="io">HomePage</span>
         </a>  
         </div>

        <div class="dropdown">
          <a class="all_practice dropbtn" href="http://127.0.0.1:3000/">
             <span>Tracks</span>
          </a>
          <div class="dropdown-content">
            <a href="http://127.0.0.1/courses">Courses</a>
            <a href="http://127.0.0.1/Standing">Standing</a>
            <a href="http://127.0.0.1/hackathons">Hackthons</a>
          </div>
        </div>
        <div class="div2">
          <a
            class="all_practice"
            href="http://127.0.0.1:3000/Tracks/9b0ba3a1-3fc0-11ed-93a3-0a33a65a227b"
            >Hackathons</a
          >
          <a class="all_practice" href=""> Test Your Self</a>
          <a class="all_practice" href="http://127.0.0.1:3000/Tracks/2e0cd456-33de-11ed-a1c3-0a33a65a227b/Assignments">Assignments</a>
          <a class="all_practice" href=""> Standing</a>
          <a class="all_practice" href=""> Courses</a>
          <a class="all_practice" href=""> Rooms</a> 

        </div>
        <div class="dar">
          <input type="checkbox" class="checkbox" id="checkbox">
        <label for="checkbox" class="label">
          <i class="fas fa-moon"></i>
          <i class='fas fa-sun'></i>
          <div class='ball'>
        </label>
      </div>
      </div>
  
    </div>
    <!-- The Right part of the page-->
    <div class="right">
      <input id="search" type="text" class="search" placeholder="Search.. " />
        <div class="allHackathons">
        </div>
    </div>
   </div>
   <!--  center of page -->
   <div class="content">
    <div class="topCenter">
      <div class="word">
      <p style="font-size:34px; ">Welcome Back, <span class="bom" id="namewel">Amany</span></p>
      <h3 style="color: #DCDCDC;">April 3, Tuesday</h3>
      </div>
      <!--image message and notification-->
      <div class="imageCenter">
      <img src="/images/mess1.png" alt="" width="30" height="30" >
      <img src="/images/not1.png" alt="" width="30" height="30" >
      </div>
    </div>
  <div class="videos">
   <!-- <div class="videoCenter"> -->
      <!-- <p class="disc">Mohamed is success Story Mohamed is success StoryMohamed is success StoryMohamed is success StoryMohamed is success
      StoryMohamed is success StoryMohamed is success StoryMohamed is success StoryMohamed is success Story</p>
      <video class="video" controls>
        <source src="/assets/videos/movideos1.mp4" type="video/mp4">
      </video>
      <div class="support">
        <div >
      <img src="/images/likeblue.png" width="25" height="25">
      <img class="rec" src="/images/likeblue.png" width="25" height="25">
      <img class="rec" src="/images/likeblue.png" width="25" height="25">
    </div>
      <p id="like">27 user Like that </p>
      <div class="comment">
        <p>50 comment</p>
      </div>  
    </div>
     <hr><div class="container2">
      <div class="content2">
        <div class="emoji">
          <div class="hello">
            <img src="/images/likeg.gif" alt="">
            <p> Like</p>
          </div>
          <div class="hello">
            <img src="/images/love2.gif" alt="">
            <p> Love</p>
          </div>
          <div class="hello">
            <img src="/images/sad.gif" alt="">
            <p> Sad</p>
          </div>
          <div class="hello">
            <img src="/images/angry.gif" alt="">
            <p>Angry</p>
          </div>
        </div>
      </div>
      <div class="post-bottom">
        <div class="action">
          <i class="far fa-thumbs-up"></i>
          <span>Like</span>
        </div>
      </div>
    </div>
        <div class="action" id="com">
          <i class="far fa-comment"></i>
          <span>Comment</span>
        </div>
        <div class="action">
          <i class="fa fa-share"></i>
          <span>Share</span>
        </div>
      </div> -->
      <!-- <div class="contantComment">
          <textarea  
          class="addcoment" placeholder="Type Any Comment"></textarea>
        <div class="com"> 
        <img  src="/images/emoticon.png" width="25" height="25">
        <img  src="/images/image.png" width="25" height="25">
        </div>
      </div> -->
    <!-- </div> -->
   </div>
   <div class="basecomment">
    <div class="worldcomment">
      <p class=".op2">Amany MOhamed</p>
      <
      <p class="technology">Frontend Develober and ICPC Finalist</p>
      <p class="contentcomment1">love this 😍Inspiring✌️Keep it up alaa ,you deserve the best🤩👏</p>

    </div>
   </div>
  </div>
    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.js"></script>
    <script type="text/javascript">
        $('#idboxCommend').emojioneArea({
            pickerPosition:'bottom'
        });
    </script>
    <script src="/dashboard.js"></script>
  </body>
</html>
