<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/dashboard.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <title>Accept</title>
</head>

<body>
  <div class="container">
    <div class="nav1">
      <div class="text">
        <h1>Accept</h1>
        <input id="search" type="text" class="search" placeholder="Search for anything..." />
      </div>
      <div class="icons" id="icons">
        <img src="images/message1.png" />
        <img src="images/notfication.png" />
      </div>
    </div>
    <hr class="hr" />
    <div class="nav2" id="nav2">
      <!-- Drop1 -->
      <div class="dropdown">
        <button class="dropbtn">Rooms</button>
        <div id="myDropdown" class="dropdown-content">
          <a href="#">Front end</a>
          <a href="#">Back end</a>
          <a href="#">Fullstack</a>
          <a href="#">Machine learning</a>
          <a href="#">Deep learning</a>
          <a href="#">Data analysis</a>
          <a href="#">penetration testing</a>
          <a href="#">bug hunting</a>
          <a href="#">Red hat</a>
        </div>
      </div>

      <a href="#" class="notdrp">Teach on Accept</a>
      <a href="#" class="notdrp">Courses</a>
      <a href="#" class="notdrp">Standing</a>
      <a href="#" class="notdrp">Hackathons</a>

      <div class="dropdown">
        <button class="dropbtn dropbtn2">Tracks</button>
        <div id="myDropdown" class="dropdown-content">
          <a href="#">Front end</a>
          <a href="#">Back end</a>
          <a href="#">Fullstack</a>
          <a href="#">Machine learning</a>
          <a href="#">Deep learning</a>
          <a href="#">Data analysis</a>
          <a href="#">penetration testing</a>
          <a href="#">bug hunting</a>
          <a href="#">Red hat</a>
        </div>
      </div>
    </div>
    <div class="all" id="all">
      <div class="boxes" id="boxes">

      </div>

    </div>
    <script src="/dashboard.js"></script>
</body>

</html>