<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Exam</title>
    <link rel="shortcut icon" type="image" href="/image/logotitle.PNG" />
    <link rel="stylesheet" href="/css/exam.css" />
    <link href="/fontawesome-free-6.1.1-web/css/all.css" rel="stylesheet" />
    <script
      type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://www.jqueryscript.net/demo/Minimal-jQuery-Any-Date-Countdown-Timer-Plugin-countdown/dest/jquery.countdown.js"
    ></script>
  </head>

  <body>
    <div class="allexam">
      <div class="control">
        <div class="define" id="define">
          <h5 class="quizn">Quiz</h5>
        </div>
        <!-- <div class="time">
            
          </div> -->
        <div class="time">
          <div class="time-quiz"></div>
          <div class="progress">
            <div class="progress-inner"></div>
          </div>
        </div>
        <div class="boxQuestion">
          <h4
            style="
              margin: 0px;
              margin-top: 5%;
              margin-bottom: 10%;
              margin-left: 5%;
              font-family: 'Inter', sans-serif;
              font-size: medium;
            "
          >
            Select Question
          </h4>
          <div class="all"></div>
        </div>
        <button type="button" class="sub">Submit</button>
      </div>
      <div class="center">
        <div class="quiz-app">
          <h2 class="count">Question 1</h2>
          <div class="quiz-area">
            <div class="question">
              <h2>
                It helps businesses create products that are usable and
                accessible to a wider range of customers.
              </h2>
              <!-- <img src="/images/car.jpg" width="50%" height="auto" /> -->
            </div>
            <div class="answer">
              <input
                type="radio"
                name="gender"
                value="M"
                class="ans"
                id="h.1"
              /><label></label>
              <label for="answer1" class="wordanswer"
                >It helps businesses create products that are usable and
                accessible to a wider range of kkjdgsd gdsjkgdfljgfd
                gjkldsfgdkfl fihndf customers.</label
              ><br />
              <!-- <img
                src="/images/car.jpg"
                width="50%"
                height="auto"
                style="margin-left: 5%"
              /> -->
            </div>

            <div class="answer">
              <input
                type="radio"
                name="gender"
                value="M"
                class="ans"
                id="h.1"
              /><label></label>
               
              <label for="answer1" class="wordanswer"
                >It helps businesses copy successful product ideas from
                competitors in their market fsajkfkafkn faksfaff segment.</label
              ><br />
              <!-- <img
                src="/images/car.jpg"
                width="50%"
                height="auto"
                style="margin-left: 5%"
              /> -->
            </div>
            <div class="answer">
              <input
                type="radio"
                name="gender"
                value="M"
                class="ans"
                id="h.1"
              /><label></label>
              <label for="answer3" class="wordanswer"
                >It helps businesses limit spending on pricey user research
                studies, by focusing on design firstfdsfsdfdsgsdg bdfdsgfdsgxcx
                sdfffdsgx fgsff vdgdsb .</label
              ><br />
              <!-- <img
                src="/images/car.jpg"
                width="50%"
                height="auto"
                style="margin-left: 5%"
              /> -->
            </div>
            <div class="answer">
              <input
                type="radio"
                name="gender"
                value="M"
                class="ans"
                id="h.1"
              /><label></label>
              <label for="answer1" class="wordanswer"
                >It helps businesses make design decisions based on business
                plans, rather than user preferences.</label
              ><br />
            </div>
          </div>
          <div class="buttons">
            <button type="button" class="sub2 sub3" onclick="pre()">previous</button>
            <button type="button" class="sub2" onclick="next()">Next</button>
          </div>
        </div>
      </div>
      <!-- 
          quiz start
         -->
    </div>
    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>

    <script src="/exam.js"></script>
  </body>
</html>
