<!Doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Exam</title>
    <link rel="stylesheet" href="/main.css" />
    <link href="/fontawesome-free-6.1.1-web/css/all.css" rel="stylesheet" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript"
        src="https://www.jqueryscript.net/demo/Minimal-jQuery-Any-Date-Countdown-Timer-Plugin-countdown/dest/jquery.countdown.js"></script>
</head>

<body>
    <div class="control">
        <div class="define">
            <h5 class="quizn">Quiz</h5>
            <h4 class="track">Introduction To Web Designer</h4>
            <hr style="width: 100%; margin-left:0%; border-top: 1px solid #cfcfcf; margin-top: 17%;">
        </div>
        <div class="time-quiz">
            <span class="hours"></span>
            <span class="minutes"></span>
        </div>
        <div id="bar">
            <div id="progress"></div>
        </div>
        <button onclick="startProgress()" class="delet">Start</button>
        <div class="boxQuestion">
            <h4 style=" margin-left: 10%; font-family: 'Inter', sans-serif; font-size: medium; ">Select Question</h4>
            <a class="noquest">1</a>
            <a class="noquest">2</a>
            <a class="noquest">3</a>
            <a class="noquest">4</a>
            <a class="noquest">5</a>
            <a class="noquest">6</a>
            <a class="noquest">7</a>
            <a class="noquest">8</a>
            <a class="noquest">9</a>
            <a class="noquest">10</a>
            <a class="noquest">1</a>
            <a class="noquest">2</a>
            <a class="noquest">3</a>
            <a class="noquest">4</a>
            <a class="noquest">5</a>
            <a class="noquest">6</a>
            <a class="noquest">7</a>
            <a class="noquest">8</a>
            <a class="noquest">9</a>
            <a class="noquest">10</a>
            <a class="noquest">1</a>
            <a class="noquest">2</a>
            <a class="noquest">3</a>
            <a class="noquest">4</a>
            <a class="noquest">5</a>
            <a class="noquest">6</a>
            <a class="noquest">7</a>
            <a class="noquest">8</a>
            <a class="noquest">9</a>
            <a class="noquest">10</a>
        </div>
        <button onclick="startProgress()" class="sub">Submit</button>
    </div>
    <div class="quiz-app">
        <div class="info">
            <div class="count">Question <span>1</span> </div>
        </div>
        <div class="quiz-area">
            <h2>How does it benefit businesses to consider the user experience?</h2>

            <div class="answer">
                  <input type="radio" id="answer1" name="fav_language">
                  <label for="answer1">It helps businesses create products that are usable and accessible to a wider
                    range of
                    customers.</label><br>
            </div>
            <div class="answer">
                  <input type="radio" id="answer2" name="fav_language">
                  <label for="answer2">It helps businesses copy successful product ideas from competitors in their
                    market
                    segment.</label><br>
            </div>
            <div class="answer">
                  <input type="radio" id="answer3" name="fav_language">
                  <label for="answer3">It helps businesses limit spending on pricey user research studies, by focusing
                    on design
                    first.</label><br>
            </div>
            <div class="answer">
                  <input type="radio" id="answer3" name="fav_language">
                  <label for="answer3">It helps businesses make design decisions based on business plans, rather than
                    user
                    preferences.</label><br><br>
            </div>

        </div>
    </div>
    <script src="exam.js"></script>
</body>

</html>