<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Main css-->
    <link rel="stylesheet" href="/css/finalProject.css" />
    <!--Normalize css-->
    <link rel="stylesheet" href="/css/normalize.css" />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Inter"
      rel="stylesheet"
    />
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     
    <title>final Project</title>
  </head>

  <body>
    <!--The left part of the page -->
    <div class="container">
    <div class="practice" id="practice">
      <div class="logo">
        <h1>
          <span style="color: #ffffff">JOB</span
          ><span class="io">Q</span>
        </h1>
      </div>
      <div class="bb">
         <div class="home">
          <a class="all_practice dropbtn" href="">
            <span class="io">HomePage</span>
         </a>  
         </div>

        <!-- <div class="dropdown">
          <a class="all_practice dropbtn" href="http://127.0.0.1:3000/">
             <span>Tracks</span>
          </a>
          <div class="dropdown-content">
            <!-- <a href="http://127.0.0.1/courses">Courses</a>
            <a href="http://127.0.0.1/Standing">Standing</a>
            <a href="http://127.0.0.1/hackathons">Hackthons</a> -
          </div>
        </div> -->
        <div class="div2">
          <p class="all_practice pp" href="" id="drop">
            <span>Mytrack</span>
         </p>
          <a
            class="all_practice"
            href=""
            >introvideo</a
          >
          <a class="all_practice" href="">Assignment</a>
          <a class="all_practice" href="">Final Project</a>
        
        </div>
        <div class="dar">
          <input type="checkbox" class="checkbox" id="checkbox">
        <label for="checkbox" class="label">
          <i class="fas fa-moon"></i>
          <i class='fas fa-sun'></i>
          <div class='ball'>
        </label>
      </div>
      </div>
  
    </div>
    <!-- The Right part of the page-->
    <div class="right">
      
        </div>
    </div>
   </div>
   <!--  center of page -->
  
  <div >
    <video controls>
      <source src="/videos/getfvid_10000000_366949071147776_7225594649034798422_n.mp4" type="video/mp4">
    </video>
  </div>
</div>

<div class="req">
  <span>Requirements</span>
  <!-- <p> • make Messanger App <br><br> • Data must be secure <br><br> • Add Authentication with Face and Password</p> -->
</div>
<div class="req2">
  <span>Submit</span>
  <input type="text" placeholder="         Put Your Repo Solution Here" class="text">
  <input type="submit" value="Send" class="submit">
</div>
<div class="req3">
  <span>Last Submition</span>
  <p class="par1">https://github.com/kmk-m/Graduation/settings</p>
  <input type="submit" value="Again" class="submit">
  <span class="span2">Comments</span>
  <p class="par2">• Not secure <br><br> • Donot use Builtin Function</p>
  <p class="par3">https://github.com/kmk-m/Graduation/settings</p>
  <input type="submit" value="Good" class="submit2">
  <span class="span3">Comments</span>
  <p class="par4">• Excellent</p>
</div>

  <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.js"></script>
  <script src="/finalProject.js"></script>
  </body>
</html>
