<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
      <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="grade" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="css/emojis.css" /> -->
    <!-- <script src="/DisMojiPicker.js"></script> -->
    <!-- CSS -->
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/all.min.css" />
    <link rel="stylesheet" href="css/grade.css" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;700&#038;display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="images/logo.png" />
    <link rel="icon" href="images/logo.png" />
    <link
      href="/fontawesome-free-6.1.1-web/css/fontawesome.css"
      rel="stylesheet"
    />
    <link href="/fontawesome-free-6.1.1-web/css/brands.css" rel="stylesheet" />
    <link href="/fontawesome-free-6.1.1-web/css/solid.css" rel="stylesheet" />
  </head>
  <body>
    <div class="pade">
        <div class="grade">
            <div class="top">
                <h1 class="gra">Grades</h1>
                <h1 class="topic">Frontend Development</h1>
                <hr class="line">
            </div>
            <div class="boxes">
                <div class="box1">
                    <p class="quiz1">Quiz One</p>
                    <p class="percent1">90%</p>
                    <p class="date1">25/3</p>
                    <p class="status1">Passed</p>
                    <p class="smallgrade1">grade</p>
                    <p class="smalldate1">date</p>
                    <p class="smallstatus1">status</p>
                </div>
                <div class="box2">
                    <p class="quiz2">Quiz One</p>
                    <p class="percent2">65%</p>
                    <p class="date2">25/3</p>
                    <p class="status2">Failed</p>
                    <p class="smallgrade2">grade</p>
                    <p class="smalldate2">date</p>
                    <p class="smallstatus2">status</p>
                </div>
                <div class="box3">
                    <p class="quiz3">Quiz One</p>
                    <p class="percent3">95%</p>
                    <p class="date3">25/3</p>
                    <p class="status3">Passed</p>
                    <p class="smallgrade3">grade</p>
                    <p class="smalldate3">date</p>
                    <p class="smallstatus3">status</p>
                </div>
                <div class="box4">
                    <p class="quiz4">Quiz Two</p>
                    <p class="percent4">40%</p>
                    <p class="date4">25/3</p>
                    <p class="status4">Failed</p>
                    <p class="smallgrade4">grade</p>
                    <p class="smalldate4">date</p>
                    <p class="smallstatus4">status</p>
                </div>
            </div>
        </div>
    </div>
    <script src=""></script>
  </body>
</html>
