<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>interest</title>
    <link type="text/css" rel="stylesheet" href="/css/interests.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="jobb">
      <h2 class="job">Job<span>Q</span></h2>
    </div>
    <div class="inter">
      <h1>Pick your <span>Skills</span></h1>
      <br />
      <h2 class="topics">Choose topics to personalize your experience</h2>
      <h5 class="topics2">
        You will take Exam in every skill You choose to specify your Level
      </h5>
    </div>
    <div class="container2 custom-scrollbar" id="container"></div>
    <h5 class="err">*We need at least 3 Skills to specify Your level</h5>
    <input type="submit" value="Next" id="clickedd" />
    <script src="/interests.js"></script>
  </body>
</html>
