<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<title>interest</title>
	<link type="text/css" rel="stylesheet" href="/css/interests.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>
	<div class="container custom-scrollbar">
		<h1>Pick your <span>Interests</span> </h1>
		<br>
		<h2>Choose topics to personalize your experience </h2>
		<br>
		<div>Front End</div>
		<div>Back End</div>
		<div>Bussiness</div>
		<div>AI</div>
		<div>Network</div>
		<div class="m">Data Science</div>
		<div class="m">Graphic Design</div>
		<div class="m">UI / UX Design</div>
		<div>Front End</div>
		<div>Back End</div>
		<div>Bussiness</div>
		<div>AI</div>
		<div>Network</div>
		<div class="m">Data Science</div>
		<div class="m">Graphic Design</div>
		<div class="m">UI / UX Design</div>
		<input type="submit" value="Next">
</body>

</html>