<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, intial-scale=1.0" />
    <title>Intro</title>
    <link rel="stylesheet" href="/css/introVideo.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <aside></aside>

    <div class="container">
      <div class="video-container">
        <video class="video-player" id="trackVideo" src="" autoplay controls>
          Your browser does not support the video tag.
        </video>
      </div>

      <div class="txt_container">
        <h2>Description</h2>
        <p id="desc_txt"></p>
      </div>

      <div class="txt_container">
        <h2>Plan</h2>
        <p id="plan_txt"></p>
      </div>

      <div class="txt_container last-container">
        <div class="reviews_container">
          <div class="totals-div">
            <h1 class="heading">Reviews</h1>
            <h1 class="rate"><b> 4.0 </b></h1>
            <div class="stars-div">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </div>
            <p class="out_of_5">out of 5</p>
          </div>

          <div class="details-review-div">
            <h1 class="details-review-title">
              Based on <span class="reviews_count"> 365 </span> Ratings
            </h1>

            <div class="row">
              <div class="side">
                <div>5 star</div>
              </div>
              <div class="middle">
                <div class="bar-container">
                  <div class="bar-5"></div>
                </div>
              </div>
              <div class="side right">
                <div>(200 reviews)</div>
              </div>
              <div class="side">
                <div>4 star</div>
              </div>
              <div class="middle">
                <div class="bar-container">
                  <div class="bar-4"></div>
                </div>
              </div>
              <div class="side right">
                <div>(70 reviews)</div>
              </div>
              <div class="side">
                <div>3 star</div>
              </div>
              <div class="middle">
                <div class="bar-container">
                  <div class="bar-3"></div>
                </div>
              </div>
              <div class="side right">
                <div>(45 reviews)</div>
              </div>
              <div class="side">
                <div>2 star</div>
              </div>
              <div class="middle">
                <div class="bar-container">
                  <div class="bar-2"></div>
                </div>
              </div>
              <div class="side right">
                <div>(35 reviews)</div>
              </div>
              <div class="side">
                <div>1 star</div>
              </div>
              <div class="middle">
                <div class="bar-container">
                  <div class="bar-1"></div>
                </div>
              </div>
              <div class="side right">
                <div>(15 reviews)</div>
              </div>
            </div>
          </div>
        </div>

        <div class="all-comments-container" id="allCommentsContainer">


          <!-- <div class="load-more-div">
            <button class="load-more-btn"> Load More </button>
          </div> -->
        </div>
      </div>
    </div>



    <script src="/introVideoReviews.js"></script>
    <script src="/introVideoData.js"></script>

  </body>
</html>
