<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/register.css" />
    <link href="/fontawesome-free-6.1.1-web/css/all.css" rel="stylesheet" />

    <title>Accept Registration Form</title>
  </head>
  <body>
    <div class="container">
      <div class="title">Registration</div>
      <form id="reg">
        <div class="user-details">
          <div class="input-box">
            <span class="details">firstname</span>
            <input
              type="text"
              placeholder="Enter your name"
              name="firstname"
              id="fname"
              required
            />
          </div>
          <div class="input-box">
            <span class="details">lastname</span>
            <input
              type="text"
              placeholder="Enter your Username"
              name="lastname"
              id="lname"
              required
            />
          </div>
          <div class="input-box">
            <span class="details">email</span>
            <input
              type="email"
              placeholder="Enter your email"
              name="email"
              id="email"
              required
            />
          </div>
          <div class="input-box">
            <span class="details">password</span>
            <input
              type="password"
              placeholder="Enter your password"
              name="password"
              id="password"
              required
              minlength="6"
              maxlength="12"
            />
          </div>
          <div class="input-box">
            <span class="details">confirm password</span>
            <input
              type="password"
              placeholder="Confirm your password"
              id="confirmpassword"
              name="confirmpassword"
              required
              minlength="6"
              maxlength="12"
            />
          </div>
          <div id="test"></div>
          <div class="button">
            <input id="btn" value="Sign up" type="submit" />
          </div>
          <div class="links">
            <div class="col">
              <a href="/auth/facebook" class="fb btn">
                <i class="fab fa-facebook"></i> Sign up with Facebook
              </a>
              <a href="/auth/google" class="google btn">
                <i class="fab fa-google"></i> Sign up with Google+
              </a>
            </div>
          </div>
        </div>
      </form>
    </div>
    <script src="/register.js"></script>
  </body>
</html>
