<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/roomone.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <!-- left part of the page  -->
    <div class="leftpart">
        <h3>Job<span style="color: #FCB500 ;">Q</span></h3>
        <img class="goku" src="/public/images/goku.jpg" alt="">
        <h4>Fahd Hakem</h4>
        <h6 style="color:#FCB500">Mytrack</h6>
        <h6>Assignment</h6>
        <h6>Final project</h6>
    </div>
    <!-- second left part -->
    <h2>Front End Room</h2> <img class="message" src="/public/images/message.png" alt=""><img class="bell"
        src="/public/images/bell.png" alt="">
    <div class="secleft">

        <h4><img src="/public/images/Polygon 34.png" alt="" width="12px" height="12px"> &nbsp; General</h4>
        <h4><img src="/public/images/Polygon 37.png" alt="" width="12px" height="12px"> &nbsp; Private <img class="plus"
                src="/public/images/+.png" alt="" width="12px" height="12px"> </h4>
        <h4>&nbsp;&nbsp;&nbsp; <img src="/public/images/Polygon 34.png" alt="" width="12px" height="12px"> &nbsp;
            University</h4>
        <h4>&nbsp;&nbsp;&nbsp; <img src="/public/images/Polygon 37.png" alt="" width="12px" height="12px"> &nbsp; Funny
        </h4>
        <h4>&nbsp;&nbsp;&nbsp; # Files</h4>
        <h4>&nbsp;&nbsp;&nbsp; # Resources</h4>
        <div class="audio"><img src="/public/images/audio.png" class="adu" alt="" width="20px" height="20px"> Meeting
            <img src="/public/images/ters.png" alt="" class="ters" width="43px" height="26px"></div>


        <img class="voice goku" src="/public/images/goku.jpg" alt="" width="30" height="30">
        <div class="name">
            <h6> Fahd Hakem <br> Backend Developer</h6>
            <div class="sounds"><img src="/public/images/mic.png" alt="" width="20px" height="20px"> <img
                    src="/public/images/speakers.png" alt="" width="20px" height="20px"></div>
        </div>
    </div>
    <!-- right part of the pege -->
    <div class="right">
        <div class="gray">
            <div class="alignimgs">
                <div>
                    <img class="goku persons st" src="/public/images/goku.jpg" alt="" width="100px" height="100px">
                    <img class="goku persons" src="/public/images/goku.jpg" alt="" width="100px" height="100px">
                    <img class="goku persons" src="/public/images/goku.jpg" alt="" width="100px" height="100px">
                </div>
                <div>
                    <img class="goku persons" src="/public/images/goku.jpg" alt="" width="100px" height="100px">
                    <img class="goku persons" src="/public/images/goku.jpg" alt="" width="100px" height="100px">
                    <img class="goku persons" src="/public/images/goku.jpg" alt="" width="100px" height="100px">
                </div>
                <div class="row">
                    <img src="/public/images/reds.png" alt="" width="10%" height="10%">
                    <img src="/public/images/persons.png" alt="" width="6%" height="6%">
                    <img src="/public/images/share.png" alt="" width="6%" height="6%">
                    <img src="/public/images/video.png" alt="" width="6%" height="6%">
                    <img src="/public/images/micg.png" alt="" width="6%" height="6%">
                </div>
            </div>
        </div>
        <div>
            <img class="goku lt" src="/public/images/goku.jpg" alt="" width="30px" height="30px">
            <div class="name2">
                <h5> Fahd Hakem <br> Backend Developer</h5>
            </div>
            <div class="date">25/10/2022</div>
            <p class="par">Are you excited to get into the world of UI/UX but you don't know where to start? This course
                will allow
                you to add UX designer to your CV & start getting paid for your new skills.
                Hi there! My name is Dan & I’m an Adobe Certified Instructor. I’m here to help you learn Adobe XD
                efficiently and comprehensively. XD is a fantastic design tool used by industry professionals to product
                high quality & functional mockups. By the end of this course, you will be able to produce practical and
                effective User Experience (UX) and User Interface (UI) designs.
                s to product high quality & functional mockups. By the end of this course, you will be able to produce
                practical and effective User Experience (UX).</p>
        </div>
        <input type="text">
    </div>



    <script src="main.js"></script>
</body>

</html>