<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Main css-->
    <link rel="stylesheet" href="/css/tracks.css" />
    <!--Normalize css-->
    <link rel="stylesheet" href="/css/normalize.css" />
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <title>Course</title>
  </head>

  <body>
    <!--The left part of the page -->
    <div class="practice" id="practice">
      <div class="logo"> <h1><span style="color:#ffffff">JOB</span><span style="color:#FCB500" >Q</span></h1></div>
      <div class="bb">
        <a class="all_practice" href="http://127.0.0.1:3000/"> Home page </a><br/><br />
        <a class="all_practice" href="http://127.0.0.1:3000/Tracks/2e0cd456-33de-11ed-a1c3-0a33a65a227b"> 
          <span style="  color: orange">My track</span></a><br/><br />
        <a class="all_practice" href=""> Assignments </a><br/><br />
        <a class="all_practice jj" href="">Quizzes </a><br />
        <a class="all_practice" href=""> Final Project </a>
      </div>
      <button type="button" id="buton"></button>
    </div>
    <script src="/tracks.js"></script>
  </body>
</html>
