<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Main css-->
    <link rel="stylesheet" href="/css/tracks.css" />
    <!--Normalize css-->
    <link rel="stylesheet" href="/css/normalize.css" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://f...content-available-to-author-only...c.com" />
    <link
        href="https://f...content-available-to-author-only...s.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet" />
    <title>Course</title>
</head>

<body>
    <!--The left part of the page -->
    <div class="practice" id="practice">
        <img src="/images/jobs.jpg" height="20" width="20" />
        <a class="all_practice" href=""> Assignments </a><br><br>
        <img src="/images/jobs.jpg" height="20" width="20" />
        <a class="all_practice" href="">Quizzes </a><br>
        <img src="/images/jobs.jpg" height="20" width="20" />
        <a class="all_practice" href=""> Final Project </a>
        <button type="button" id="buton"> </button>
    </div>
    <script src="/tracks.js"></script>
</body>
</html>