<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Forgot Password</title>
	<link rel="stylesheet" href="/css/forget.css" />
</head>
<body>
	
	<div class="box">
	
		<div class="inner-box">
		<form id="recover">
		<div id="test">
		<h3 class="pp">Enter Your code.</h3>
		
		<input class="pow" name="code" placeholder="verify code" required/>
	</div>
		<button class="pow2">
			change password
		</button>
		</form>
		
		</div>
	
	</div>
	<script src="/verify.js"></script>
</body>
</html>