<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <!-- CSS -->
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/all.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;700&#038;display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="images/logo.png" />
  </head>

  <body>
    <!-- Start Header Section -->
    <header id="header">
      <div class="container">
        <a href="" class="logo">
          <img src="images/logo.png" width="70px" alt="logo" />
        </a>
        <ul class="main-nav">
          <li><a href="#gallery">Gallery</a></li>
          <li><a href="#events">Events</a></li>
          <li><a href="#services">Services</a></li>

          <li>
            <a href="#" class="">Other Links</a>
            <!-- Start Mega-Menu -->
            <div class="mega-menu">
              <div class="image">
                <img src="images/megamenu.png" alt="" />
              </div>
              <ul class="links">
                <li>
                  <a href="#gallery"
                    ><i class="far fa-comments fa-fw"></i>Gallery</a
                  >
                </li>
                <li>
                  <a href="#events"
                    ><i class="far fa-comments fa-fw"></i>Events</a
                  >
                </li>
                <li>
                  <a href="#services"
                    ><i class="far fa-comments fa-fw"></i>Services</a
                  >
                </li>
                <li>
                  <a href="#team"
                    ><i class="far fa-comments fa-fw"></i>Team members</a
                  >
                </li>
              </ul>
              <ul class="links">
                <li>
                  <a href="#testimonials"
                    ><i class="far fa-comments fa-fw"></i>Testimonials</a
                  >
                </li>
                <li>
                  <a href="#state"
                    ><i class="far fa-comments fa-fw"></i>Our Awesome stats</a
                  >
                </li>
                <li>
                  <a href="#videos"
                    ><i class="far fa-comments fa-fw"></i>Top Videos</a
                  >
                </li>
                <li>
                  <a href="#callus"
                    ><i class="far fa-comments fa-fw"></i>Call us</a
                  >
                </li>
                <li>
                  <a href="#footer"
                    ><i class="far fa-comments fa-fw"></i>footer</a
                  >
                </li>
              </ul>
            </div>
            <!-- End Mega-Menu -->
          </li>
          <a href="/signin" class="log log2">Log in</a>

          <a href="/signup" class="log log3">Sign up</a>
        </ul>
      </div>
    </header>
    <!-- End Header Section -->
    <!-- Start Landing Section -->
    <main class="landing" id="landing">
      <div class="container">
        <div class="text">
          <h1>Welcome, To Learning Jobs</h1>
          <p>
            Start Your Journy with us to get your dream job we will qualify you
            from zero to get the accepted mail from your compony
          </p>
        </div>
        <div class="image">
          <img src="images/landing-image.png" alt="" />
        </div>
      </div>
      <a href="#articles" class="go-down">
        <i class="fas fa-angle-double-down fa-2x"></i>
      </a>
    </main>
    <!-- End Landing Section -->

    <!-- Start Gallery -->
    <section class="gallery" id="gallery">
      <h2 class="main-title">Gallery</h2>
      <div class="container">
        <div class="box">
          <div class="image">
            <img src="images/gallery-01.png" alt="" />
          </div>
        </div>
        <div class="box">
          <div class="image">
            <img src="images/gallery-02.png" alt="" />
          </div>
        </div>
        <div class="box">
          <div class="image">
            <img src="images/gallery-03.jpg" alt="" />
          </div>
        </div>
        <div class="box">
          <div class="image">
            <img src="images/gallery-04.png" alt="" />
          </div>
        </div>
        <div class="box">
          <div class="image">
            <img src="images/gallery-05.jpg" alt="" />
          </div>
        </div>
        <div class="box">
          <div class="image">
            <img src="images/gallery-06.png" alt="" />
          </div>
        </div>
      </div>
    </section>
    <!-- End Gallery -->

    <!-- Start Testimonials -->
    <section class="testimonials" id="testimonials">
      <h2 class="main-title">Testimonials</h2>
      <div class="container">
        <div class="box">
          <img src="images/avatar-01.png" alt="" />
          <h3>Mohamed Farag</h3>
          <span>Full-Stack Developer</span>
          <div class="rate">
            <i class="filled fas fa-star"></i>
            <i class="filled fas fa-star"></i>
            <i class="filled fas fa-star"></i>
            <i class="filled fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et
            reiciendis voluptatum, amet est natus quaerat ducimus
          </p>
        </div>
        <div class="box">
          <img src="images/avatar-02.png" alt="" />
          <h3>Mohamed Ibrahim</h3>
          <span>Full-Stack Developer</span>
          <div class="rate">
            <i class="filled fas fa-star"></i>
            <i class="filled fas fa-star"></i>
            <i class="filled fas fa-star"></i>
            <i class="filled fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et
            reiciendis voluptatum, amet est natus quaerat ducimus
          </p>
        </div>
        <div class="box">
          <img src="images/avatar-03.png" alt="" />
          <h3>Shady Nabil</h3>
          <span>Full-Stack Developer</span>
          <div class="rate">
            <i class="filled fas fa-star"></i>
            <i class="filled fas fa-star"></i>
            <i class="filled fas fa-star"></i>
            <i class="filled fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et
            reiciendis voluptatum, amet est natus quaerat ducimus
          </p>
        </div>
        <div class="box">
          <img src="images/avatar-04.png" alt="" />
          <h3>Amr Hendawy</h3>
          <span>Full-Stack Developer</span>
          <div class="rate">
            <i class="filled fas fa-star"></i>
            <i class="filled fas fa-star"></i>
            <i class="filled fas fa-star"></i>
            <i class="filled fas fa-star"></i>
            <i class="filled fas fa-star"></i>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et
            reiciendis voluptatum, amet est natus quaerat ducimus
          </p>
        </div>
        <div class="box">
          <img src="images/avatar-05.png" alt="" />
          <h3>Sherief Ashraf</h3>
          <span>Full-Stack Developer</span>
          <div class="rate">
            <i class="filled fas fa-star"></i>
            <i class="filled fas fa-star"></i>
            <i class="filled fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et
            reiciendis voluptatum, amet est natus quaerat ducimus
          </p>
        </div>
        <div class="box">
          <img src="images/avatar-06.png" alt="" />
          <h3>Osama Mohamed</h3>
          <span>Full-Stack Developer</span>
          <div class="rate">
            <i class="filled fas fa-star"></i>
            <i class="filled fas fa-star"></i>
            <i class="filled fas fa-star"></i>
            <i class="filled fas fa-star"></i>
            <i class="filled fas fa-star"></i>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et
            reiciendis voluptatum, amet est natus quaerat ducimus
          </p>
        </div>
      </div>
    </section>
    <!-- End Testimonials -->
    <!-- Start Team -->
    <section class="team" id="team">
      <h2 class="main-title">Team Members</h2>
      <div class="container">
        <div class="box">
          <div class="data">
            <img src="images/team-01.png" alt="" />
            <div class="social">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a href="#">
                <i class="fab fa-youtube"></i>
              </a>
            </div>
          </div>
          <div class="info">
            <h3>Fahd Hakem</h3>
            <p>Senior Backend Developer in odc</p>
          </div>
        </div>
        <div class="box">
          <div class="data">
            <img src="images/team-02.jpg" alt="" />
            <div class="social">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a href="#">
                <i class="fab fa-youtube"></i>
              </a>
            </div>
          </div>
          <div class="info">
            <h3>Mohamed Gamal</h3>
            <p>Frontend Developer</p>
          </div>
        </div>
        <div class="box">
          <div class="data">
            <img
              src="images/team-03.jpg"
              alt=""
              height="300px"
              style="object-fit: cover; object-position: 50% 50%"
            />
            <div class="social">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a href="#">
                <i class="fab fa-youtube"></i>
              </a>
            </div>
          </div>
          <div class="info">
            <h3>Amany Mohamed</h3>
            <p>Frontend Developer and PR</p>
          </div>
        </div>
        <div class="box">
          <div class="data">
            <img
              src="images/team-04.jpg"
              height="300px"
              style="object-fit: cover; object-position: 50% 50%"
            />
            <div class="social">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a href="#">
                <i class="fab fa-youtube"></i>
              </a>
            </div>
          </div>
          <div class="info">
            <h3>Alla mohamed</h3>
            <p>Frontend Developer</p>
          </div>
        </div>
        <div class="box">
          <div class="data">
            <img
              src="images/team-08.png"
              height="300px"
              style="object-fit: cover; object-position: 50% 50%"
            />
            <div class="social">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a href="#">
                <i class="fab fa-youtube"></i>
              </a>
            </div>
          </div>
          <div class="info">
            <h3>Reem mohamed</h3>
            <p>Relations</p>
          </div>
        </div>
      </div>
    </section>
    <!-- End Team -->
    <!-- Start Services -->
    <section class="services" id="services">
      <h2 class="main-title">Services</h2>
      <div class="container">
        <div class="box">
          <i class="fas fa-solid fa-book-open fa-4x"></i>
          <h2>Learning</h2>
          <a href="/signin">Details</a>
        </div>
        <div class="box">
          <i class="fas fa-solid fa-trophy fa-4x"></i>
          <h2>Hackathons</h2>
          <a href="/hackathons">Details</a>
        </div>
        <div class="box">
          <i class="fas fa-brands fa-rocketchat fa-4x"></i>
          <h2>Rooms</h2>
          <a href="/rooms">Details</a>
        </div>
        <div class="box">
          <i class="fas fa-solid fa-shield fa-4x"></i>
          <h2>Testing</h2>
          <a href="/">Details</a>
        </div>
      </div>
    </section>
    <!-- End Services -->

    <!-- Start  Events -->
    <section class="events" id="events">
      <h2 class="main-title">Latest Events</h2>
      <div class="container">
        <img src="images/events.png" alt="" />
        <div class="content">
          <div class="dates-container">
            <div class="date">
              <span>55</span>
              <span>Days</span>
            </div>
            <div class="date">
              <span>55</span>
              <span>Hours</span>
            </div>
            <div class="date">
              <span>55</span>
              <span>Minutes</span>
            </div>
            <div class="date">
              <span>55</span>
              <span>Seconds</span>
            </div>
          </div>
          <div class="text">
            <h2>Tech Masters Event 2021</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Et vero
              tenetur doloremque iusto ut adipisci quam ratione aliquam
              excepturi nulla in harum, veritatis porro
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- End  Events -->
    <!-- Start Stats -->
    <section class="stats" id="state">
      <h2 class="main-title">Our Awesome Stats</h2>
      <div class="container">
        <div class="box">
          <i class="far fa-user fa-2x fa-fwfar fa-user fa-2x fa-fw"></i>
          <span>150</span>
          <p>Clients</p>
        </div>
        <div class="box">
          <i class="far fa-solid fa-trophy fa-2x fa-fw"></i>
          <span>170</span>
          <p>Hackathons</p>
        </div>
        <div class="box">
          <i class="fas fa-globe-asia fa-2x fa-fw"></i>
          <span>25</span>
          <p>Contries</p>
        </div>
        <div class="box">
          <i class="far fa-light fa-building fa-2x fa-fw"></i>
          <span>500</span>
          <p>Companies</p>
        </div>
      </div>
    </section>
    <!-- End Stats -->
    <!-- Start Top Videos -->
    <section class="top-videos" id="videos">
      <h2 class="main-title">Top Videos</h2>
      <div class="container">
        <div class="videos-list">
          <div class="list-title">
            <h4>Top Videos</h4>
            <i class="fas fa-random"></i>
          </div>
          <div class="video-info">
            <span class="title">How to create sub domain</span>
            <span class="time">05:54</span>
          </div>
          <div class="video-info">
            <span class="title">How to create sub domain</span>
            <span class="time">05:54</span>
          </div>
          <div class="video-info">
            <span class="title">How to create sub domain</span>
            <span class="time">05:54</span>
          </div>
          <div class="video-info">
            <span class="title">How to create sub domain</span>
            <span class="time">05:54</span>
          </div>
          <div class="video-info">
            <span class="title">How to create sub domain</span>
            <span class="time">05:54</span>
          </div>
          <div class="video-info">
            <span class="title">How to create sub domain</span>
            <span class="time">05:54</span>
          </div>
          <div class="video-info">
            <span class="title">How to create sub domain</span>
            <span class="time">05:54</span>
          </div>
        </div>
        <div class="image">
          <img src="images/video-preview.jpg" alt="" />
          <p>Everything About The Virtual Hosts</p>
        </div>
      </div>
    </section>
    <!-- End Top Videos -->

    <!-- Start discount -->
    <section class="discount" id="callus">
      <div class="discount-info">
        <div class="container-a">
          <h1>Call us</h1>
          <p>
            Here You can tell us every thing you want , please fill this
            information to enable to call us , you can ask us about any thing
          </p>
          <img src="images/discount.png" alt="" />
        </div>
      </div>
      <form action="" class="discount-form">
        <div class="container-a">
          <h1>Call us</h1>
          <input type="text" placeholder="Your Name" name="" id="" />
          <input type="email" placeholder="Your Email" name="" id="" />
          <input type="text" placeholder="Your Phone" name="" id="" />
          <textarea
            name=""
            id=""
            cols="20"
            rows="20"
            placeholder="Tell us About your needs"
          ></textarea>
          <input type="submit" value="Send" />
        </div>
      </form>
    </section>
    <!-- End discount -->
    <!-- Start Footer -->
    <footer>
      <div class="container" id="footer">
        <div class="social">
          <span>Learning Jobs</span>

          <div class="social-links">
            <a href="" class="facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="" class="twitter"><i class="fab fa-twitter"></i></a>
            <a href="" class="youtube"
              ><i class="fab fa-youtube youtube"></i
            ></a>
          </div>
          <p>
            Our Social media
            <br />
            Facebook, Youtube , Twitter
          </p>
        </div>

        <ul class="info">
          <li><i class="fas fa-map-marker-alt fa-fw"></i>Egypt, Giza</li>
          <li>
            <i class="far fa-clock fa-fw"></i>Business Hours: From 10:00 To
            18:00
          </li>
          <li><i class="fas fa-phone-volume fa-fw"></i>+201148308917</li>
        </ul>
        <div class="images">
          <img src="images/gallery-01.png" alt="" />
          <img src="images/gallery-02.png" alt="" />
          <img src="images/gallery-03.jpg" alt="" />
          <img src="images/gallery-04.png" alt="" />
          <img src="images/gallery-05.jpg" alt="" />
          <img src="images/gallery-06.png" alt="" />
        </div>
      </div>
      <span class="final">©2022 Learning Jobs</span>
    </footer>
    <!-- End Footer -->
    <!-- <script src="jquery.emojiarea.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <script>
      $(window).load(function () {
        setTimeout(() => {}, 5000);
        $(".se-pre-con").fadeOut("slow");
      });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.5/gsap.min.js"></script>

    <script
      class="jsbin"
      src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"
    ></script>
    <script src="/welcome.js"></script>

    <!-- <script src="/vanillaEmojiPicker.js"></script> -->
  </body>
</html>
